<!-- Header -->
<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <div>
                <a href="#" class="navbar-brand">
                    <i class="bi bi-card-checklist"></i>&nbsp;ToDo Application
                </a>
            </div>
            <ul class="navbar-nav">
                <li><a href="#" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">Todos</a></li>
            </ul>
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a href="#" class="nav-link">Login</a></li>
                <li><a href="#" class="nav-link">SignUp</a></li>
            </ul>
        </div>
    </nav>
</header>