<h3><i class="bi bi-door-closed"></i>&nbsp;User Login</h3>
<div class="row pt-4">
    <div class="col-md-3">
        <table class="table table-borderless table-sm">
            <tbody>
                <tr>
                    <td><i class="bi bi-person"></i>&nbsp;Username</td>
                    <td><input type="text" name="username" /></td>
                </tr>
                <tr>
                    <td><i class="bi bi-key"></i>&nbsp;Password</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button class="btn btn-outline-primary"><i class="bi bi-arrow-right-circle"></i>&nbsp;Login</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>